In [108]:
import pandas as pd

def load_data(url):
    # read csv from github url
    # return pandas dataframe
    df = pd.read_csv(url)
    return df

url = 'https://raw.githubusercontent.com/prathikr/CS_499_Final_Project/master/BISTRA_GROUP_PROJECT_SMALL.csv'
df = load_data(url)
df.head(5)

,ID,female,nonwhite,unemplmt,primsev,B2a_0,State,City,zipcode,noins,...,Any_Cens,Alcohol_Cens,Binge_Cens,Marijuana_Cens,Illicit_Cens,Any_Days,Alcohol_Days,Binge_Days,Marijuana_Days,Illicit_Days
0,9048,0,0,0,4,17,VA,Lynchburg,24501-1114,0,...,2,2,2,2,2,192,192,192,192,192
1,9152,0,0,0,1,18,VA,Lynchburg,24501-1114,0,...,2,2,2,2,2,176,176,176,176,176
2,9057,0,0,1,3,16,VA,Lynchburg,24501-1114,0,...,0,0,2,0,2,21,21,365,81,365
3,9139,0,0,0,3,16,VA,Lynchburg,24501-1114,0,...,0,2,0,0,2,20,365,0,20,365
4,9051,0,1,0,3,17,VA,Lynchburg,24501-1114,0,...,0,0,0,0,1,14,30,30,14,356

In [109]:
# ** Describe Data??

In [110]:
# POTENTIAL BUG: must also truncate list to not include other potential predictors
# TOO HIGH TO CHECK IF WORKS, ASSUMING IT DOES FOR NOW...SORRY SOBER PRATHIK
def trim_predictors(df, column_name):
    # extract nx1 vector for predictor 
    # display(df.columns)
    print("Original df:", df.shape)
    Y = df[[column_name]]
    print("Predictor column:", Y.shape)
    df.drop(columns=[column_name], inplace=True)
    print("Post-extracting predictor column:", df.shape)
    # return extracted predictor values
    return Y

Y = trim_predictors(df, 'Alcohol_Days')

Original df: (26556, 110)
Predictor column: (26556, 1)
Post-extracting predictor column: (26556, 109)

In [111]:
def drop_NaN_columns(df):
    # replace all -999 with NaN inplace
    df.replace(to_replace = -999, value = np.nan, inplace = True)
    # calculate percentage of NaNs in each column
    from IPython.display import display_html
    def display_side_by_side(*args):
        html_str=''
        for df in args:
            html_str+=df.to_html()
        display_html(html_str.replace('table','table style="display:inline"'),raw=True)

    percent_missing = df.isnull().sum() * 100 / len(df)
    missing_value_df = pd.DataFrame({'column_name': df.columns,'percent_missing': percent_missing})
    display_side_by_side(missing_value_df[0:23], missing_value_df[23:46], missing_value_df[46:69])
    
    # drop columns with > 25% inplace
    cols = []
    for index, row in missing_value_df.iterrows():
        if row['percent_missing'] > 25:
          cols.append(row['column_name'])
    df.drop(columns=cols, inplace=True)
    display("columns dropped:", cols)
    
# drop_NaN_columns(df)

In [112]:
def fill_NaN_columns(df):
    # replace NaNs with mean/mode inplace
    df = df.fillna(df.mean()).fillna(df.mode().iloc[0])

# fill_NaN_columns(df)
# df.head(50)

In [113]:
# ** DO IN MAIN: concatenate w/ predictor vector Y inplace and extract Xtr, Ytr, Xte, Yte
def train_regression_model(Xtr, Ytr):
    # feed to regression model using k-fold cross validation and lambda regularization
    # display learned function 
    # return model object
    return
def test_regression_model(model, Xte, Yte):
    # feed test data to model and return performance measures in a vector
    return