# Predicting Days Before Lapse for Marijuana Drug Abusers

In [190]:
import pandas as pd

def load_data(url):
    # read csv from github url
    # return pandas dataframe
    df = pd.read_csv(url)
    return df

url = 'https://raw.githubusercontent.com/prathikr/CS_499_Final_Project/master/BISTRA_GROUP_PROJECT_SMALL.csv'
df = load_data(url)
df.head(5)

,ID,female,nonwhite,unemplmt,primsev,B2a_0,State,City,zipcode,noins,...,Any_Cens,Alcohol_Cens,Binge_Cens,Marijuana_Cens,Illicit_Cens,Any_Days,Alcohol_Days,Binge_Days,Marijuana_Days,Illicit_Days
0,9048,0,0,0,4,17,VA,Lynchburg,24501-1114,0,...,2,2,2,2,2,192,192,192,192,192
1,9152,0,0,0,1,18,VA,Lynchburg,24501-1114,0,...,2,2,2,2,2,176,176,176,176,176
2,9057,0,0,1,3,16,VA,Lynchburg,24501-1114,0,...,0,0,2,0,2,21,21,365,81,365
3,9139,0,0,0,3,16,VA,Lynchburg,24501-1114,0,...,0,2,0,0,2,20,365,0,20,365
4,9051,0,1,0,3,17,VA,Lynchburg,24501-1114,0,...,0,0,0,0,1,14,30,30,14,356

In [191]:
# ** Describe Data??

In [192]:
def extract_predictor(df, predictor_col_name):
    # extract and return nx1 vector for predictor
    print("Original df:", df.shape)
    Y = df[predictor_col_name].copy()
    print(predictor_col_name)
    print(Y.head())
    return Y

def drop_columns(df, cols_to_drop, substance_id):
    # drop columns and isolate to specific substance
    df.drop(columns=cols_to_drop, inplace=True) # gotta keep inplace=True here or else code breaks!! idk why...
    df = df[df.primsev != substance_id] # leaves only marijuana drug abusers in dataframe
    df = df[df.B2a_0 < 20] # leaves only teenagers
    df.drop(columns=['primsev', 'B2a_0'], inplace=True)
    print("Post-extracting predictor column and removing other predictors:", df.shape)

Y = extract_predictor(df, 'Marijuana_Days')
# columns to drop gathered from domain experts and statistical analysis
drop_columns(df, ['State', 'City', 'zipcode', 'agyaddr', 'SFS8p_0', 'SFS8p_3', 'SFS8p_6', 
'SFS8p_12', 'ada_0','ada_3','ada_6','ada_12','S2c1_0','S2c1_3','S2c1_6','S2c1_12','S2b1_0','S2b1_3','S2b1_6',
'S2b1_12','S2z1_3','S2z1_6','S2z1_12','S2z2_3','S2z2_6','S2z2_12','S2z3_3','S2z3_6','S2z3_12','S2z4_3','S2z4_6',
'S2z4_12','S2z5_3','S2z5_6','S2z5_12','Any_Cens','Alcohol_Cens','Binge_Cens','Marijuana_Cens','Illicit_Cens',
'Any_Days','Binge_Days','Alcohol_Days','Illicit_Days', 'Marijuana_Days', 'SPSy_0', 'loc', 'AFSS_0', 'E9a', 'E9b', 
'E9c', 'E9d', 'E9e', 'E9e18', 'E9f', 'E9g', 'E9h', 'E9j', 'E9k', 'E9m', 'txtypeg', 'S7e4_0', 'engage42', 'POPIgrp',
'L5', 'E14a_0', 'E14b_0', 'SDScrY'], 3)

Original df: (26556, 110)
Marijuana_Days
0    192
1    176
2     81
3     20
4     14
Name: Marijuana_Days, dtype: int64
Post-extracting predictor column and removing other predictors: (8639, 40)

In [193]:
import numpy as np
from IPython.display import display_html

def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

def drop_NaN_columns(df):
    # replace all -999 with NaN inplace
    df = df.replace(to_replace = -999, value = np.nan)
    
    # calculate percentage of NaNs in each column
    percent_missing = df.isnull().sum() * 100 / len(df)
    missing_value_df = pd.DataFrame({'column_name': df.columns,'percent_missing': percent_missing})
    third = int(round(len(missing_value_df) / 3))
    display_side_by_side(missing_value_df[0:third], missing_value_df[third:third*2], missing_value_df[third*2:len(missing_value_df)])
    
    # drop columns with > 25% inplace
    cols = []
    for index, row in missing_value_df.iterrows():
        if row['percent_missing'] > 25:
          cols.append(row['column_name'])
    df = df.drop(columns=cols)
    print("columns dropped:", cols)
    print("new df shape:", df.shape)
    
drop_NaN_columns(df)

,column_name,percent_missing
ID,ID,0.000000
female,female,0.003766
nonwhite,nonwhite,0.030125
unemplmt,unemplmt,0.176984
primsev,primsev,0.015063
B2a_0,B2a_0,0.000000
noins,noins,57.327911
prsatx,prsatx,0.301250
tottxp4,tottxp4,0.000000
TRI_0,TRI_0,1.276548
GVS,GVS,0.188281
tsd_0,tsd_0,0.222172
und15,und15,3.117939
CWS_0,CWS_0,0.173219
,column_name,percent_missing
IPI,IPI,20.590450
RFQ33c,RFQ33c,40.604760
GSSI_0,GSSI_0,51.973189
S9y10,S9y10,0.274891
dldiag,dldiag,21.705076
press,press,51.860220
DSS9_0,DSS9_0,0.131797
ADHDs_0,ADHDs_0,0.267360
CDS_0,CDS_0,0.252297
suicprbs_0,suicprbs_0,0.218406
CJSI_0,CJSI_0,3.325049
LRI7_0,LRI7_0,3.076518
SRI7_0,SRI7_0,3.972737
ERS21_0,ERS21_0,0.222172
,column_name,percent_missing
homeless_0,homeless_0,0.308781
S6,S6,0.399156
PSSI_0,PSSI_0,51.976954
RERI13p_0,RERI13p_0,56.096551
ncar,ncar,3.279861
engage30,engage30,8.352161
init,init,0.000000
FIS4p_0,FIS4p_0,54.838831
HIVrisk,HIVrisk,0.041422
totttld,totttld,8.438771
POS_0,POS_0,0.241000
S2x_0,S2x_0,0.229703
SPSm_0,SPSm_0,0.037656
EPS7p_0,EPS7p_0,0.094141

columns dropped: ['noins', 'RFQ33c', 'GSSI_0', 'press', 'PSSI_0', 'RERI13p_0', 'FIS4p_0']
new df shape: (26556, 35)

In [194]:
def fill_NaN_columns(df):
    # replace NaNs with mean/mode inplace
    final_df = df.fillna(df.mean()).fillna(df.mode().iloc[0])
    percent_missing = final_df.isnull().sum() * 100 / len(df)
    missing_value_df = pd.DataFrame({'column_name': final_df.columns,'percent_missing': percent_missing})
    third = int(round(len(missing_value_df) / 3))
    display_side_by_side(missing_value_df[0:third], missing_value_df[third:third*2], missing_value_df[third*2:len(missing_value_df)])
    print("df shape (should be same as previous cell):", final_df.shape)
    return final_df

final_df = fill_NaN_columns(df)

,column_name,percent_missing
ID,ID,0.0
female,female,0.0
nonwhite,nonwhite,0.0
unemplmt,unemplmt,0.0
primsev,primsev,0.0
B2a_0,B2a_0,0.0
noins,noins,0.0
prsatx,prsatx,0.0
tottxp4,tottxp4,0.0
TRI_0,TRI_0,0.0
GVS,GVS,0.0
tsd_0,tsd_0,0.0
und15,und15,0.0
CWS_0,CWS_0,0.0
,column_name,percent_missing
IPI,IPI,0.0
RFQ33c,RFQ33c,0.0
GSSI_0,GSSI_0,0.0
S9y10,S9y10,0.0
dldiag,dldiag,0.0
press,press,0.0
DSS9_0,DSS9_0,0.0
ADHDs_0,ADHDs_0,0.0
CDS_0,CDS_0,0.0
suicprbs_0,suicprbs_0,0.0
CJSI_0,CJSI_0,0.0
LRI7_0,LRI7_0,0.0
SRI7_0,SRI7_0,0.0
ERS21_0,ERS21_0,0.0
,column_name,percent_missing
homeless_0,homeless_0,0.0
S6,S6,0.0
PSSI_0,PSSI_0,0.0
RERI13p_0,RERI13p_0,0.0
ncar,ncar,0.0
engage30,engage30,0.0
init,init,0.0
FIS4p_0,FIS4p_0,0.0
HIVrisk,HIVrisk,0.0
totttld,totttld,0.0
POS_0,POS_0,0.0
S2x_0,S2x_0,0.0
SPSm_0,SPSm_0,0.0
EPS7p_0,EPS7p_0,0.0

df shape (should be same as previous cell): (26556, 42)

In [195]:
# normalize columns
from sklearn import preprocessing

def normalize(df):
    cols = ['B2a_0','tottxp4', 'CWS_0', 'ADHDs_0', 'CDS_0', 'CJSI_0', 'EPS7p_0', 'LRI7_0', 'SRI7_0', 
              'ERS21_0', 'HIVrisk', 'totttld', 'S2x_0', 'SPSm_0']
    temp = df[cols]
    df.drop(columns=cols, inplace=True)
    x = temp.values #returns a numpy array
    min_max_scaler = preprocessing.MinMaxScaler()
    x_scaled = min_max_scaler.fit_transform(x)
    normalized = pd.DataFrame(x_scaled, columns = cols)
    df = pd.concat([df, normalized], axis=1)
    return df

final_df = normalize(final_df)

In [196]:
# split data into train and test
# drop ID column but save it for post-model labelling

from sklearn.model_selection import train_test_split

Xtr, Xte, Ytr, Yte = train_test_split(final_df, Y, test_size=0.25, random_state=17)
Xte_IDs = Xte['ID'].copy()
Xtr = Xtr.drop(columns=['ID'])
Xte = Xte.drop(columns=['ID'])

print("Xtr:", Xtr.shape)
print("Ytr:", Ytr.shape)
print("Xte:", Xte.shape)
print("Yte:", Yte.shape)

Xtr: (19917, 41)
Ytr: (19917,)
Xte: (6639, 41)
Yte: (6639,)

In [197]:
# train regression model
# examine coefficients and drop columns with coefficient close to 0
# retrain regression model and print results

from sklearn.linear_model import LinearRegression
from sklearn import metrics

lm = LinearRegression()
model = lm.fit(Xtr, Ytr)

coefficients = pd.DataFrame({'Coefficients': model.coef_})
columns = pd.DataFrame({'column_name': Xtr.columns})

combined = pd.DataFrame({'Coefficients': model.coef_, 'column_name': Xtr.columns})
print('FEATURES IN ORDER OF HIGHEST IMPACT ON MODEL...')
combined = combined.reindex(combined.Coefficients.abs().sort_values().index).iloc[::-1]
quarter = int(round(len(combined) / 4))
display_side_by_side(combined[0:quarter], combined[quarter:quarter*2], combined[quarter*2:quarter*3], combined[quarter*3:len(combined)])

predictions = pd.DataFrame({'Marijuana_Days': model.predict(Xte)})
Yte = pd.DataFrame(Yte.dropna())

y_test = pd.concat([Xte_IDs, Yte], axis=1, sort=True).dropna()
y_pred = pd.concat([Xte_IDs, predictions], axis=1, sort=True).dropna()
y_test = y_test[:len(y_pred)]

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))

FEATURES IN ORDER OF HIGHEST IMPACT ON MODEL...

,Coefficients,column_name
27,278.051589,B2a_0
38,190.275210,totttld
40,-176.285668,SPSm_0
37,133.366033,HIVrisk
28,-132.220186,tottxp4
30,81.383874,ADHDs_0
36,-73.841221,ERS21_0
33,-70.271058,EPS7p_0
31,-49.029748,CDS_0
39,37.893911,S2x_0
,Coefficients,column_name
29,28.430200,CWS_0
0,26.007153,female
32,-10.179110,CJSI_0
24,3.365197,init
35,-1.905288,SRI7_0
34,-1.618284,LRI7_0
3,-0.164746,primsev
1,0.109385,nonwhite
17,0.050114,suicprbs_0
8,0.032544,tsd_0
,Coefficients,column_name
26,0.026669,POS_0
15,0.025205,press
23,-0.025090,engage30
18,-0.020766,homeless_0
11,-0.019240,RFQ33c
9,-0.018822,und15
5,-0.018117,prsatx
21,-0.013020,RERI13p_0
10,-0.012687,IPI
13,-0.012425,S9y10
,Coefficients,column_name
12,0.011746,GSSI_0
20,0.011025,PSSI_0
25,0.009942,FIS4p_0
2,-0.008866,unemplmt
7,0.007232,GVS
16,-0.007093,DSS9_0
4,-0.006290,noins
22,0.004033,ncar
19,-0.003782,S6
6,-0.002612,TRI_0
14,-0.001172,dldiag

Mean Absolute Error: 57.971502681311186